* {
  letter-spacing: 1.5px;
  font-family: 'Nunito Sans', sans-serif;
}

body.no-scroll {
  overflow: hidden; 
}

.navigation {
  background-color: rgb(17, 39, 95);
}

@media only screen and (min-width: 768px) {
    .logo-mobile {
      display: none;
    }
}

.nav {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  background-color: rgb(17, 39, 95);
}

.nav__list {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  justify-content: space-around;
  flex-direction: row;
  padding: 1em 0.5em; 
}

.nav__item {
  list-style-type: none; 
}

.nav__link {
  font-size: 1.5em;
  text-decoration: none;
  color: #D7D7D7;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
}

.nav__link:hover {
  color: #D7D7D7;
}

/* hamburger trigger */
.nav__trigger {
  position: absolute;
  display: inline-flex;
  display: none;
  width: 30px;
  height: 25px;
  right: 100px;
  top: 50px;
  z-index: 200; 
}

.nav__icon {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: rgba(233, 233, 233, 0.911);
  border-radius: 2px;
  transition-property: background-color, transform;
  transition-duration: 0.5s; 
  opacity: 0.5;
}

.nav__icon:before, .nav__icon:after {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  position: absolute;
  background: rgba(233, 233, 233, 0.911);
  border-radius: 2px;
  transition-property: margin, transform;
  transition-duration: 0.5s;
}

.nav__icon:before {
  margin-top: -10px; 
}

.nav__icon:after {
  margin-top: 10px; 
}

.nav__link {
  transition-delay: 500ms; 
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

.nav--active .nav__link {
  opacity: 1; 
}

.nav--active .nav {
  transition: all 300ms ease-in-out;
  transform: translateX(0); 
}

.nav--active .nav__icon {
  background: rgba(0, 0, 0, 0); 
}

.nav--active .nav__icon:before {
  margin-top: 0;
  transform: rotate(45deg); 
}

.nav--active .nav__icon:after {
  margin-top: 0;
  transform: rotate(-45deg); 
}



@media (max-width: 768px) {


  .logo-mobile {
    width: 13rem;
    max-width: 17rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
  }

  .nav__trigger {
    display: block;
    top: 1.6rem;
    right: 1.7rem;

  }

  .nav {
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .nav__item {
    text-align: left;
    padding: 30px 10px; 
  }

  .nav__list {
    margin: 0;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start; 
  }

  .nav__link {
    opacity: 0;
  } 

}



/*******************
LANDING START

********************/


.main-landing-page {
  background-image: linear-gradient(rgb(17, 39, 95), #2047aa);
  margin-top: -1.36rem;
  height: 45rem;
}

.landing-header {
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  padding-top: 1.5rem;
  max-width: 70%
}

.landing-text {
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 70%;

}

.call-us-button {
  background-color: #ecebeb;
  border: none;
  color: #D7D7D7;
  margin-top: .5rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  border-radius: 6px;
  font-size: .75rem;

}

.call-us-anchor {
  text-decoration: none;
  color: #2c2c2cea;
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  width: 9rem;
  height: 2.8rem;
  line-height: 2.8rem;

}

.call-us-button:hover {
  background-color: rgb(192, 192, 192);
  transition: 0.5s
}

.computer {
  width: 75%;
  max-width: 25rem;
  margin-top: 3rem;
  right: 1rem;
  position: absolute;
  
  

}

.filler-block {
  opacity: 0;
  height: calc((5em + 1vmin) + (5em + 1vmax));
  width: 100%;
}

.dot {
  height: calc((2.5em + 1vmin) + (2.5em + 1vmax));
  width: 100%;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 47rem;
  display: inline-block;
  
}

.what-we-do-block {
  width: 100%;
  margin-top: -12rem;
}

.what-we-do {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.small-pic-block, .title-small-pic-div {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.small-pic-dash-left, .small-pic-dash-left-first {
  display: inline-flex;
  white-space: nowrap;
  color: #2047aa;
  position: relative;
  bottom: .5rem;
  
  
}

.small-pic-dash-right, .small-pic-dash-right-first {
  display: inline-flex;
  white-space: nowrap;
  color: #2047aa;
  position: relative;
  bottom: .5rem;
  
}

.small-pic-dash-right-first, .small-pic-dash-left-first {
  position: relative;
  bottom: .75rem;
}

.title-small-pic {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
}


.what-we-do-text, .me-name-text {
  text-align: center;
  margin: auto;
  width: 80%;
  color: #4b4b4be0;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;

}

.what-we-do-block2 {
  margin-top: 7rem;
}

.what-we-do-block2, .what-we-do-block3, .what-we-do-block3, .what-we-do-block4 {
  width: 100%;
  
}

.what-we-do-subsections, .me-name-header {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900; 
  font-size: 1.1rem;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: #2c2c2cea;
}

.what-we-do-pic {
  width: 15%;
  max-width: 5rem;
  margin: auto;
  display: flex;
  margin-top: 3rem;
}


.money-icon {
  width: 95%;
  max-width: 35rem;
  padding-top: 4rem;
  margin: auto;
  display: flex;

}

.pricing-titles {
  font-weight: 900;
  font-size: 1.1rem;
  margin-top: -0.5rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 80%;
  margin-bottom: 1.5rem;
  
}

.pricing-text {
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  font-weight: 300;
  margin-left: 1.5rem;
  margin-right: 6rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.pricing-block-list {
  margin-top: 2rem;
}

.pricing-block-span-list {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 100%;
}

.pricing-block-pics {
  width: 2.5rem;
  height: 2.5rem;
}

.pricing-block-title {
  margin-top: -.1rem;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.1rem;
  color: #2c2c2cea;
  
  
}

.pricing-block-text {
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: -0.6rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
}


.who-we-are-block {
  width: 100%;
}

.what-we-do {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.dot2 {
  height: 65%;
  width: 65%;
  max-width: 25rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;

}

.learn-more-about {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  color: #2047aa;
}

.learn-more-about:hover {
   text-decoration: underline;
}

.our-plans-block {
  width: 100%;
  margin-top: 8rem;
}

.our-plans {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-size: 1.75rem;
  font-weight: 900;
  color: #2c2c2cea;
}

.rates-block-container {
  width: 100%;
  margin-bottom: 2rem;
  
}

.rates-content {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 4px 29px 3px rgba(0, 0, 0, 0.1);
  
  
}

.rates-block-title {
  background-image: linear-gradient( #16337c, #2047aa);
  color: #e9e9e9;
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}

.rate-title {
  margin: auto;
  display: flex;
  justify-content: center;
}

.five-pages {
  margin: auto;
  display: flex;
  justify-content: center;
  color: #4b4b4be0;
  font-weight: 300;
  padding-top: 2rem;
  text-align: center;
}

.monthly-fee {
  
  font-weight: 700;
  font-size: 1.75rem;
  color: #2047aa;
  display: flex;
  justify-content: center;
}

.rate-included {
  margin: auto;
  display: flex;
  justify-content: center;
  color: #4b4b4be0;
  font-weight: 300;
  padding-bottom: 1rem;
  text-align: center;
}

.button-div-2 {
  margin: auto;
  display: flex;
  justify-content: center;
}


.call-us-button2 {
  background-image: linear-gradient(to bottom right, #16337c, #2047aa);
  border: none;
  color: #D7D7D7;
  margin-top: .5rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  font-size: .75rem;
  

}

.call-us-anchor2 {
  text-decoration: none;
  color: #e9e9e9;
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  width: 9rem;
  height: 2.8rem;
  line-height: 2.9rem;

}

.call-us-button2:hover {
  background-image: linear-gradient(#6e6e6e, #6e6e6e);
  transition: 0.5s
}


.rates-block-container2 {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  

}


.dot3 {
  height: calc((2.5em + 1vmin) + (2.5em + 1vmax));
  width: 100%;
  margin-top: 3rem;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 15;
  display: inline-block;
  z-index: 1;
  
}

.ACWB-info {
  height: 37rem;
  background-image: linear-gradient(to top, rgb(17, 39, 95), #2047aa);
  position: relative;
  top: 6rem;
}

.ACWB-info-list {
  position: relative;
  top: 6rem;
  list-style-type: none;
  padding: 0;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  color: #D7D7D7;
  font-weight: 200;
  font-size: 0.9rem;

}

.ACWB-info-list-items {
  color: #D7D7D7;
  padding-bottom: 0.5rem;
  text-decoration: none;
  text-decoration-color: none;

}

.phone-anchor {
  text-decoration: none;
  text-decoration-color: none;
  color: #D7D7D7;
}

.logo-mobile-bottom {
  width: 13rem;
  max-width: 17rem;
  position: relative;
  top: 6rem;
  margin-left: 1.5rem;
}

.bottom-nav-word {
  margin-left: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  top: 8rem;
  color: #D7D7D7;
  font-size: 1.4rem;
  font-weight: 800;
  border-bottom: 1px solid #D7D7D7;
  width: 11rem;
}

.navigation-info-list {
  position: relative;
  top: 8rem;
  list-style-type: none;
  padding-left: 0;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  color: #D7D7D7;
  font-weight: 200;
  font-size: 0.9rem;
}


.nav-bottom-list {
  padding-bottom: 1.5rem;
}

.nav-bottom-anchor {
  text-decoration: none;
  color: #D7D7D7;
}

.nav-bottom-anchor:hover, .phone-anchor:hover {
  text-decoration: underline;
}

.bottom-footer {
  background-color: rgb(17, 39, 95);
  position: relative;
  top: 5.9rem;


}

.bottom-footer-block, .bottom-footer-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

h5 {
  color: #D7D7D7;
  font-size: 0.8rem;
  font-weight: 200;
  margin-left: 1rem;
  margin-right: 1rem;


}




/*********************
ABOUT US PAGE 


*********************/



.main-landing-page-about-us {
  background-image: linear-gradient(rgb(17, 39, 95), #16337c);
  margin-top: -1.19rem;
  height: 10rem;
  
}


.about-us-header {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: #e9e9e9;
}

.about-me-page-pic {
  width: 70%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 6px;

}

.giving-header, .giving-header2 {
  color: #2c2c2cea;
  margin-left: 1.5rem;
  font-size: 1.75rem;
  font-weight: 900;
  width: 80%;
}

.about-me-page-section, .about-me-page-section2 {
  margin-left: 1.5rem;
  color: #4b4b4be0;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 80%;

}

.about-me-page-section2 {
  margin-bottom: 3rem;
}

.giving-header2 {
  width: 50%;
}

.button-div-3 {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;

}


.contact-info-container-block {
  width: 100%;
  padding-top: 1rem;

}

.contact-info-main-block {
  
  width: 100%;
  max-width: 13rem;
  margin-left: 1.5rem;

  
}

.contact-info-span {
  display: inline-flex;
  flex-direction: row;
  padding-top: 1rem;
  max-width: 100%;
}

.contact-info-pic {
  width: 2.5rem;
  height: 2.5rem;
}

.contact-info-header {
  margin-top: -.1rem;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.1rem;
  color: #2c2c2cea;
  white-space: nowrap

}

.contact-info{
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-left: 3.5rem;
  margin-top: -1rem;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-decoration-color: none;
}




/************

FORM

*************/



.container {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  box-shadow: 2px 4px 29px 3px rgba(0, 0, 0, 0.1);
  width: 80%;

}

.form-name {
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: -0.5rem;
  margin-left: 5%;
}

.form-total {
  justify-content: center;
  display: flex;
}


input[type=text], textarea { 
  width: 98%;
  border: 1px solid #ccc; 
  border-radius: 6px; 
  resize: vertical; 

}

.fname, .lname, .subject {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #4b4b4be0;


}

#fname, #lname {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 88%;
  margin-left: 5%;

}

.form-button {
  margin-top: 2rem;
  margin-bottom: -2rem;
  
}

.text-area {
  height: 11rem;
  width: 88%;
  margin-left: 5%;

}

.button-div-4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  
}


.call-us-button3 {
  background-image: linear-gradient(to bottom right, #16337c, #2047aa);
  border: none;
  color: #D7D7D7;
  margin-top: .5rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  font-size: .75rem;
  

}

.call-us-anchor3 {
  text-decoration: none;
  color: #e9e9e9;
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  width: 6rem;
  height: 2.8rem;
  line-height: 2.8rem;

}

.call-us-button3:hover {
  background-image: linear-gradient(#6e6e6e, #6e6e6e);
  transition: 0.5s;
}

  

  
/**********************
SERVICES PAGE


***********************/



.about-me-page-pic-services, .about-me-page-pic-services2, .about-me-page-pic-services3, .about-me-page-pic-services4 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.highlight-text {
  font-weight: 900;
}

.about-me-page-pic-services2, .about-me-page-pic-services2 {
  width: 80%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-me-page-pic-services3, .about-me-page-pic-services4 {
  width: 70%;
}

.about-me-page-pic-services4 {
  margin-top: 6rem;
  border-bottom-left-radius: 1px;
}

.pricing-block-list-service {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.pricing-block-span-list-service {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  float: left;
}

.pricing-block-pics-service {
  width: 1.5rem;
  height: 1.5rem;
}

.pricing-block-text-service {
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-top: -0.3rem;
  margin-left: .75rem;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.about-me-page-pic-services3 {
  margin-top: 4rem;
}


.design-update-container {
  width: 100%;
}

.design-update-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  display: block;
  box-shadow: 2px 4px 20px 3px #2047aa56;
  border-top: 3px solid #2047aa56;
  border-radius: 10px;
}

.design-update-pic {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
}

.design-update-header {
  font-weight: 1.1rem;
  font-weight: 800;
  color: #2c2c2cea;
  margin-left: 1.5rem;
}

.design-update-text {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-left: 1.5rem;
  margin-right: .5rem;
  padding-bottom: 1.5rem;
}




/*******************************
ABOUT US PAGE

*******************************/


.contact-info-container-block-page {
  width: 100%;
  padding-top: 2rem;

}

.contact-info-main-block-page {
  width: 100%;
  max-width: 13rem;
  border-left: 3px solid #2047aa;
  margin-left: 1.5rem;
}

.contact-info-header-page {
  margin-left: .5rem;
  font-weight: 900;
  font-size: 1.1rem;
  color: #2c2c2cea;
}

.contact-info-page {
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-left: .5rem;
  margin-top: -0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-decoration-color: none;
}