* {
  letter-spacing: 1.5px;
  font-family: 'Nunito Sans', sans-serif;
}

body.no-scroll {
  overflow: hidden; 
}

.navigation {
  background-color: #11275F;
}

@media only screen and (min-width: 768px) {
    .logo-mobile {
      display: none;
    }
}

.nav {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  background-color: #11275F;
}

.nav__list {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  justify-content: space-around;
  flex-direction: row;
  padding: 1em 0.5em; 
}

.nav__item {
  list-style-type: none; 
}

.nav__link {
  font-size: 1.5em;
  text-decoration: none;
  color: #D7D7D7;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
}

.nav__link:hover {
  color: #D7D7D7;
}

/* hamburger trigger */
.nav__trigger {
  position: absolute;
  display: inline-flex;
  display: none;
  width: 30px;
  height: 25px;
  right: 100px;
  top: 50px;
  z-index: 200; 
}

.nav__icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: rgba(233, 233, 233, 0.911);
  border-radius: 2px;
  transition-property: background-color, transform;
  transition-duration: 0.5s; 
}

.nav__icon:before, .nav__icon:after {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  position: absolute;
  background: rgba(233, 233, 233, 0.911);
  border-radius: 2px;
  opacity: 0.9;
  transition-property: margin, transform;
  transition-duration: 0.5s;
}

.nav__icon:before {
  margin-top: -10px; 
}

.nav__icon:after {
  margin-top: 10px; 
}

.nav__link {
  transition-delay: 500ms; 
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.nav--active .nav__link {
  opacity: 1; 
}

.nav--active .nav {
  transition: all 300ms ease-in-out;
  transform: translateX(0); 
}

.nav--active .nav__icon {
  background: rgba(0, 0, 0, 0); 
}

.nav--active .nav__icon:before {
  margin-top: 0;
  transform: rotate(45deg); 
}

.nav--active .nav__icon:after {
  margin-top: 0;
  transform: rotate(-45deg); 
}



@media (max-width: 768px) {


  .logo-mobile {
    width: 13rem;
    max-width: 17rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
  }

  .nav__trigger {
    display: block;
    top: 1.6rem;
    right: 1.7rem;

  }

  .nav {
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .nav__item {
    text-align: left;
    padding: 30px 10px; 
  }

  .nav__list {
    margin: 0;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start; 
  }

  .nav__link {
    opacity: 0;
  } 

}



/*******************
LANDING

********************/


.main-landing-page {
  background-color: #11275F;
  margin-top: -1.4rem;
  height: 45rem;
}

.landing-header {
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  padding-top: 3rem;
  max-width: 70%;
}

.landing-text {
  color: #DBDBDB;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 70%;

}

.call-us-button {
  background-color: #ecebeb;
  border: none;
  color: #D7D7D7;
  margin-top: .5rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  font-size: .75rem;

}

.call-us-anchor {
  text-decoration: none;
  color: #2c2c2cea;
  font-family: 'Nunito Sans', sans-serif;

}

.call-us-button:hover {
  background-color: rgb(192, 192, 192);
  transition: 0.5s
}

.computer {
  width: 75%;
  max-width: 25rem;
  margin-top: 4rem;
  right: 0;
  position: absolute;
  background-color: #11275F;

}

.filler-block {
  opacity: 0;
  height: calc((5em + 1vmin) + (5em + 1vmax));
  width: 100%;
}

.dot {
  height: calc((2.5em + 1vmin) + (2.5em + 1vmax));
  width: 100%;
  margin-top: -2.9rem;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 15;
  display: inline-block;
  
}

.what-we-do-block {
  width: 100%;
  margin-top: -12rem;
}

.what-we-do {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.title-small-pic {
  display: flex;
  margin: auto;
  width: 2rem;
  margin-bottom: 1rem;
}


.what-we-do-text {
  text-align: center;
  margin: auto;
  width: 80%;
  color: #4b4b4be0;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;

}

.what-we-do-block2, .what-we-do-block3, .what-we-do-block3, .what-we-do-block4 {
  width: 100%;
  
}

.what-we-do-subsections {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: #2c2c2cea;
}

.what-we-do-pic {
  width: 15%;
  max-width: 5rem;
  margin: auto;
  display: flex;
  margin-top: 3rem;
}


.money-icon {
  width: 95%;
  max-width: 35rem;
  padding-top: 4rem;
  margin: auto;
  display: flex;

}

.pricing-titles {
  font-weight: 900;
  font-size: 1.1rem;
  margin-top: -0.5rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 80%;
  margin-bottom: 1.5rem;
  
}

.pricing-text {
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  font-weight: 300;
  margin-left: 1.5rem;
  margin-right: 6rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.pricing-block-list {
  margin-top: 2rem;
}

.pricing-block-span-list {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 6rem;
  max-width: 100%;
}

.pricing-block-pics {
  width: 2.5rem;
  height: 2.5rem;
}

.pricing-block-title {
  margin-top: -.1rem;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.1rem;
  color: #2c2c2cea;
  
  
}

.pricing-block-text {
  width: 70%;
  line-height: 1.5rem;
  color: #4b4b4be0;
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: -0.6rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
}


.who-we-are-block {
  width: 100%;
}

.what-we-do {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.dot2 {
  height: 65%;
  width: 65%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;

}


